---
import BuildingHouse from "@components/general/BuildingHouse.astro";

---
<section class="flex flex-col gap-8 justify-between items-center text-center p-8">
  <p class="text-9xl font-bold dm-serif">404</p>
  <BuildingHouse height="64" width="64" />
  <h2 class="text-4xl outfit">Ohhhhhhhhhh aquesta part de la casa encara no està construïda...</h2>
  <p class="text-xl sm:text-3xl sanchez">
    No pots visitar aquesta estància perquè encara no està construïda. Però no et preocupis, pots tornar al rebedor i seguir explorant la resta de la casa.
  </p>
  <a
    href="/"
    title="Torna al rebedor"
    class="px-4 py-2 border-2 border-black hover:bg-red-500 transition-colors duration-150 ease-in-out w-48 text-center poppins"
    >&larr; Anar al rebedor</a
  >
</section>
