---
import Layout from '@layouts/Default.astro';
---

<Layout
    title='Viatges'
    description="Viatges d'en Xest"
    pageTitle="Viatges d'en Xest"
    classList='flex flex-col min-h-screen bg-blue'
>
    <main class='p-6'>
        <h1 class='text-4xl font-bold'>Viatges</h1>
        <p class='text-lg'>Aquí trobaràs els viatges que he fet.</p>
    </main>
</Layout>