---
import Navigation from "../components/Navigation.astro";

const webTitle = "XEF XEST";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{webTitle}</title>
  </head>
  <body>
    <Navigation />
    <main>
      <h1>{webTitle}</h1>
      <p>
        This is a test of Astro's support for <code>.astro</code> files.
      </p>
    </main>
  </body>
</html>
