---
const platform = "github";
const username = "aleixtm13";
---

<footer>
  <p>
    Els meus projectes a <a href={`https://www.${platform}.com/${username}`}
      >{platform}</a
    >
  </p>
</footer>
