---
import Navbar from "./Navbar.astro";
---

<header class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold leading-tight text-center mb-4 text-gradient">Hola hola coca cola</h1>
        <Navbar />
    </div>
</header>