---
import Navbar from "./Navbar.astro";
---

<header class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-xl font-bold">Hola hola coca cola</div>
        <Navbar />
    </div>
</header>