<nav>
    <ul class="flex space-x-6">
        <li><a href="#home" class="text-white hover:text-yellow-400">Inici</a></li>
        <li><a href="/about" class="text-white hover:text-yellow-400">Sobre mi</a></li>
        <li><a href="/projects" class="text-white hover:text-yellow-400">Projectes</a></li>
        <li><a href="#contact" class="text-white hover:text-yellow-400">Contact</a></li>
    </ul>
</nav>