---
import BaseNavigation from '@components/layout/BaseNavigation.astro';
import BaseHead from '../components/layout/BaseHead.astro';
import '../styles/global.css';
import { Config } from '@eliancodes/brutal-ui';

interface Props {
  title: string;
  description: string;
  classList?: string;
  pageTitle?: string;
  ogImage?: URL;
  color?: string | undefined;
}

if (Astro.props.color === undefined) {
  Astro.props.color =
    Config.colors[Math.floor(Math.random() *  Config.colors.length)];
}
const { color } = Astro.props;

const { title, description, classList, pageTitle, ogImage } = Astro.props;
---

<html lang='en' class='h-full'>
  <BaseHead ogImage={ogImage} title={title} description={description} />

  <body class:list={['body ' + classList]}>
    <BaseNavigation {pageTitle} />
    <slot />
  </body>
</html>

<style define:vars={{color: color}}>
 .body {
    background-color: var(--color);
  }
</style>
